@font-face {
  font-family: "Young Serif";
  src: local("Young-Serif"), local("Young-Serif"), url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit Thin";
  src: local("Outfit-Thin"), local("Outfit-Thin"), url("../assets/fonts/outfit/static/Outfit-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Outfit ExtraLight";
  src: local("Outfit-ExtraLight"), local("Outfit-ExtraLight"), url("../assets/fonts/outfit/static/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Outfit Light";
  src: local("Outfit-Light"), local("Outfit-Light"), url("../assets/fonts/outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit-Regular"), local("Outfit-Regular"), url("../assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit Medium";
  src: local("Outfit-Medium"), local("Outfit-Medium"), url("../assets/fonts/outfit/static/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit SemiBold";
  src: local("Outfit-SemiBold"), local("Outfit-SemiBold"), url("../assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit Bold";
  src: local("Outfit-Bold"), local("Outfit-Bold"), url("../assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Outfit ExtraBold";
  src: local("Outfit-ExtraBold"), local("Outfit-ExtraBold"), url("../assets/fonts/outfit/static/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Outfit Black";
  src: local("Outfit-Black"), local("Outfit-Black"), url("../assets/fonts/outfit/static/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
}
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  letter-spacing: -0.02px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  letter-spacing: -0.01px;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: clamp(0rem, -2.7289rem + 11.6432vi, 7.75rem) 0;
}

.card {
  background: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 46rem;
  padding-top: clamp(0rem, -0.8803rem + 3.7559vi, 2.5rem);
  border-radius: clamp(0rem, -0.5282rem + 2.2535vi, 1.5rem);
  padding-bottom: 2.5rem;
}
.card__dish {
  width: 100%;
  max-width: 41rem;
  object-fit: cover;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: clamp(0rem, -0.2641rem + 1.1268vi, 0.75rem);
}
.card__content {
  padding: 0 clamp(2rem, 1.8239rem + 0.7512vi, 2.5rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card__recipe-description {
  padding-top: 2.5rem;
}
.card__title {
  font-family: "Young Serif";
  font-size: clamp(2.25rem, 2.162rem + 0.3756vi, 2.5rem);
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: hsl(24, 5%, 18%);
}
.card__description {
  color: hsl(30, 10%, 34%);
}
.card__preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: clamp(1.5rem, 1.412rem + 0.3756vi, 1.75rem);
}
.card__title-3 {
  font-family: "Outfit SemiBold";
  font-size: 1.25rem;
  color: hsl(332, 51%, 32%);
  margin-bottom: 1rem;
  line-height: 100%;
}
.card__lists-dec {
  color: hsl(30, 10%, 34%);
}
.card__lists-dec span {
  font-family: "Outfit Bold";
  display: contents;
}
.card__list {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.card__list:last-child {
  margin-bottom: 0;
}
.card__list::before {
  content: "";
  min-width: 0.25rem;
  min-height: 0.25rem;
  border-radius: 50%;
  background: hsl(332, 51%, 32%);
  margin-left: 0.5rem;
  margin-right: 1.75rem;
}
.card__title-2 {
  font-family: "Young Serif";
  font-size: 1.75rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 100%;
}
.card__list_num {
  margin-left: 1.5rem;
  padding-left: 1rem;
  color: hsl(30, 10%, 34%);
  margin-bottom: 0.5rem;
}
.card__list_num:last-child {
  margin-bottom: 0;
}
.card__list_num span {
  font-family: "Outfit Bold";
}
.card__list_num::marker {
  color: hsl(14, 45%, 36%);
  font-family: "Outfit Bold";
}
.card__nutrition p {
  margin-bottom: 1.5rem;
  color: hsl(30, 10%, 34%);
}
.card__table {
  display: grid;
  grid-template-columns: auto auto;
}
.card__table-name {
  color: hsl(30, 10%, 34%);
  padding-bottom: 0.725rem;
  padding-top: 0.725rem;
  padding-left: 2rem;
}
.card__table-kcal {
  font-family: "Outfit Bold";
  color: hsl(14, 45%, 36%);
  padding-bottom: 0.725rem;
  padding-top: 0.725rem;
  padding-left: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

hr {
  border: 1px solid hsla(30, 17%, 87%, 0.5);
  width: 100%;
  margin: 0;
}

.grid-item {
  border-bottom: 1px solid hsla(30, 17%, 87%, 0.5);
}

.no-underline {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */